*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    line-height: 0.8;
}


/*=============== todo part start here ============== */
.todo_main{
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    width: 100%;
    padding-bottom: 500px;

}
header{
    padding-top: 100px;
}
header h2{
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
.todo_main form{
    text-align: center;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo_main form input{
    width: 400px;
    height: 60px;
    border: 0;
    outline: none;
    padding: 10px 30px;
    color: #444;
    font-size: 18px;
    text-transform: capitalize;
    border: 2px solid #DE3163;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.todo_main form input::placeholder{
    color: #222;
    font-size: 18px;
}
.todo_main form button{
    width: 80px;
    height: 60px;
    border: 0;
    outline: none;
    background-color: teal;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    margin-left: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: capitalize;
}
.todo_main form .allClear{
    width: 110px;
    height: 60px;
    border: 0;
    outline: none;
    background-color: teal;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    margin-left: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: capitalize;
}

.contentt{
    width: 590px;
    margin:  0 auto;
    margin-top: 50px !important;
}

ul li{
    width: 100%;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    margin: 15px 0;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    position: relative;
}
.contentt ul .button{
    width: 50px;
    height: 50px;
    border: 0;
    outline: none;
    background-color: teal;
    color: #fff;
    position: absolute;
    top: 0;
    right: -120px;
    cursor: pointer;
}
.button_update{
    width: 50px;
    height: 50px;
    border: 0;
    outline: none;
    background-color: teal;
    color: #fff;
    position: absolute;
    top: 0;
    right: -61px;
    cursor: pointer;
}
.contentt ul button svg{
   font-size: 20px;
}
.tostify{
    background-color: red;
}

/*=============== todo part end ====================== */